@using TSQ.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<KHACHHANG>
@{
    ViewBag.Title = "Danh Sách Khách Hàng";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<div class="col-md-9" style="color:white; text-align:center;overflow:auto">
    <h3>Danh Sách Khách Hàng Đã Đăng ký tại TSQ-SWATCH</h3>
    <table class="table" id="List">
        <tr>
            <th>
                Tên Khách Hàng
            </th>
            <th>
                Giới Tính
            </th>
            <th>
                Ngày Sinh
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenKH)
                </td>
                <td>
                    @if (item.GioiTinh == true)
                    {
                       <p>Nữ</p>
                        
                    }
                    else
                    {
                        <p>Nam</p>
                    }
                </td>
                <td>
                    <p>@String.Format("{0:dd/MM/yyyy}",item.Ngaysinh)</p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Xóa", "Delete", new { id = item.CMND })
                </td>
            </tr>
        }

    </table>
    <span style="color:white">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount</span>
    <div class="col-md-12 MenuTrang ">
        @Html.PagedListPager(Model, page => Url.Action("ListKH", new { page = page }))
    </div>
    <style>
        .MenuTrang li {
            display: inline;
        }
    </style>
</div>
